language: node_js
node_js:
- lts/*
- '8'
before_install:
- openssl aes-256-cbc -K $encrypted_f3da2073877f_key -iv $encrypted_f3da2073877f_iv
  -in config.json.enc -out config.json -d
services:
- mongodb