{
  "bot_token": "",
  "owner_id": "",
  "prefix": "",
  "client_id": "",
  "client_secret": "",
  "hosting_url": "http://localhost:1337/",
  "server_ip": "localhost",
  "server_port": 1337,
  "mongodb_url": "mongodb://localhost/wrm",
  "trusted_user_ids": ["", ""],
  "server_id": "",
  "socket_url": "",
  "version": "1.1.0"
}
